@charset "UTF-8";

div.bg-info-subtle>ul>li{
	float: left;
	
	border: 1px solid black;
	margin: 0px 10px 0 10px;
}

div.bg-info-subtle li{
	list-style: none;
}

div.bg-info-subtle a{
	text-decoration: none;
}

.menu {
	position: relative;
}

.menu ul{
	padding: 0;
}

.sub_menu{
    position: absolute;
    visibility: hidden;
}

.menu:hover .sub_menu{
    visibility: visible;
}
 